/* .videoDetailCard {
    display: inline;
} */

.videoCover {
    /* width: 800px; */
    width: 100%;
}

.detailContainer {
    display: flex;
    flex-direction: column;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tag {
    margin-top: 8px;
}